# Notebook for processing London Fire Brigade Data

Author: [Huanfa Chen](https://github.com/huanfachen)

In [34]:
from datetime import date
import pandas as pd
# suppress warnings
import warnings
warnings.filterwarnings('ignore')
print("Last modified:", date.today())

Last modified: 2026-01-08

In [14]:
# read Excel file data from this link: https://data.london.gov.uk/download/em8xy/f5066d66-c7a3-415f-9629-026fbda61822/LFB%20Incident%20data%20from%202018%20-%202023.xlsx
# data from 2024:
# https://data.london.gov.uk/download/em8xy/58m/LFB%20Incident%20data%20from%202024%20onwards.xlsx
import pandas as pd
df = pd.read_excel('https://data.london.gov.uk/download/em8xy/f5066d66-c7a3-415f-9629-026fbda61822/LFB%20Incident%20data%20from%202018%20-%202023.xlsx')

In [15]:
print(df.columns.tolist())

['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall', 'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType', 'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full', 'Postcode_district', 'UPRN', 'USRN', 'IncGeo_BoroughCode', 'IncGeo_BoroughName', 'ProperCase', 'IncGeo_WardCode', 'IncGeo_WardName', 'IncGeo_WardNameNew', 'Easting_m', 'Northing_m', 'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude', 'FRS', 'IncidentStationGround', 'FirstPumpArriving_AttendanceTime', 'FirstPumpArriving_DeployedFromStation', 'SecondPumpArriving_AttendanceTime', 'SecondPumpArriving_DeployedFromStation', 'NumStationsWithPumpsAttending', 'NumPumpsAttending', 'PumpCount', 'PumpMinutesRounded', 'Notional Cost (£)', 'NumCalls']

In [16]:
df.head()

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
0,000008-01012018,2018-01-01,2018,00:04:25,0,False Alarm,AFA,NaN,Non Residential,Mosque,...,348.0,Finchley,NaN,NaN,1.0,1.0,1,60,328,1.0
1,000009-01012018,2018-01-01,2018,00:04:30,0,False Alarm,AFA,NaN,Non Residential,Pub/wine bar/bar,...,144.0,Beckenham,NaN,NaN,1.0,1.0,1,60,328,1.0
2,000010-01012018,2018-01-01,2018,00:04:34,0,Fire,Secondary Fire,NaN,Outdoor Structure,Common external bin storage area,...,232.0,Southgate,NaN,NaN,1.0,1.0,1,60,328,1.0
3,000011-01012018,2018-01-01,2018,00:04:58,0,Special Service,Special Service,RTC,Road Vehicle,Multiple Vehicles,...,22.0,Enfield,NaN,NaN,1.0,1.0,1,60,328,1.0
4,000014-01012018,2018-01-01,2018,00:07:47,0,Fire,Primary Fire,NaN,Road Vehicle,Car,...,241.0,Stratford,NaN,NaN,1.0,1.0,1,60,328,6.0

In [ ]:
# extract data of year 2023
df_lfb = df[df['CalYear'] == 2023]

In [18]:
df_lfb.shape

(126114, 39)

In [19]:
# save df_lfb as LFB_2023_data.csv
df_lfb.to_csv('LFB_2023_data.csv', index=False)

In [4]:
# read CSV file data
df_lfb = pd.read_csv('LFB_2023_data.csv')

In [5]:
# aggregate data to daily level
df_lfb_daily = df_lfb.groupby('DateOfCall').size().reset_index(name='IncidentCount')

In [6]:
df_lfb_daily.head()

   DateOfCall  IncidentCount
0  2023-01-01            402
1  2023-01-02            293
2  2023-01-03            267
3  2023-01-04            285
4  2023-01-05            305

## Linking with daily weather data

In [7]:
# read in weather data
df_weather = pd.read_csv('./London_weather_data_1979_to_2023.csv')

In [8]:
df_weather.head()

,DATE,TX,Q_TX,TN,Q_TN,TG,Q_TG,SS,Q_SS,SD,...,RR,Q_RR,QQ,Q_QQ,PP,Q_PP,HU,Q_HU,CC,Q_CC
0,19790101,23.0,0,-75.0,0,-41.0,0,70.0,0,9.0,...,4.0,0,52.0,0,10190.0,0,83.0,0,2.0,0
1,19790102,16.0,0,-75.0,0,-26.0,0,17.0,0,8.0,...,0.0,0,27.0,0,10253.0,0,76.0,0,6.0,0
2,19790103,13.0,0,-72.0,0,-28.0,0,0.0,0,4.0,...,0.0,0,13.0,0,10205.0,0,86.0,0,5.0,0
3,19790104,-3.0,0,-65.0,0,-26.0,0,0.0,0,2.0,...,0.0,0,13.0,0,10084.0,0,68.0,0,8.0,0
4,19790105,56.0,0,-14.0,0,-8.0,0,20.0,0,1.0,...,0.0,0,29.0,0,10225.0,0,73.0,0,6.0,0

In [9]:
df_weather.dtypes

DATE      int64
TX      float64
Q_TX      int64
TN      float64
Q_TN      int64
TG      float64
Q_TG      int64
SS      float64
Q_SS      int64
SD      float64
Q_SD      int64
RR      float64
Q_RR      int64
QQ      float64
Q_QQ      int64
PP      float64
Q_PP      int64
HU      float64
Q_HU      int64
CC      float64
Q_CC      int64
dtype: object

In [10]:
# extract weather data of year 2023
df_2023 = df_weather[df_weather['DATE'].astype(str).str.startswith('2023')]

In [11]:
df_2023.shape

(365, 21)

In [12]:
df_lfb_daily.shape

(364, 2)

In [13]:
# merge fire incident data with weather data. Note that df_lfb_daily has a column of DateOfCall (2023-01-01, str type) while df_2023 has a column of DATE (20230101, int type)
df_2023['DATE'] = pd.to_datetime(df_2023['DATE'], format='%Y%m%d').dt.date
df_lfb_daily['DateOfCall'] = pd.to_datetime(df_lfb_daily['DateOfCall']).dt.date
df_lfb_merged = pd.merge(df_lfb_daily, df_2023, left_on='DateOfCall', right_on='DATE', how='inner')
df_lfb_merged.shape
# 364 rows

/tmp/ipykernel_10264/228454178.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['DATE'] = pd.to_datetime(df_2023['DATE'], format='%Y%m%d').dt.date

(364, 23)

In [14]:
# add new columns to df_lfb_merged: 'IsWeekend' to indicate if the day is a weekend; 'weekday' to indicate the day of the week (string rather than integer)
df_lfb_merged['IsWeekend'] = df_lfb_merged['DateOfCall'].apply(lambda x: 1 if pd.to_datetime(x).weekday() >= 5 else 0)
df_lfb_merged['weekday'] = df_lfb_merged['DateOfCall'].apply(lambda x: pd.to_datetime(x).strftime('%A'))

In [15]:
df_lfb_merged.head()

,DateOfCall,IncidentCount,DATE,TX,Q_TX,TN,Q_TN,TG,Q_TG,SS,...,QQ,Q_QQ,PP,Q_PP,HU,Q_HU,CC,Q_CC,IsWeekend,weekday
0,2023-01-01,402,2023-01-01,93.0,1,100.0,1,112.0,1,0.0,...,21.0,0,10080.0,0,81.0,0,7.0,0,1,Sunday
1,2023-01-02,293,2023-01-02,134.0,0,52.0,0,72.0,0,52.0,...,44.0,0,10169.0,0,86.0,0,3.0,0,0,Monday
2,2023-01-03,267,2023-01-03,139.0,0,21.0,0,78.0,0,0.0,...,9.0,0,10186.0,0,93.0,0,7.0,0,0,Tuesday
3,2023-01-04,285,2023-01-04,135.0,0,92.0,0,116.0,0,4.0,...,17.0,0,10146.0,0,82.0,0,6.0,0,0,Wednesday
4,2023-01-05,305,2023-01-05,127.0,0,89.0,0,112.0,0,4.0,...,28.0,0,10186.0,0,82.0,0,8.0,0,0,Thursday

In [16]:
# read in ukbankholidays-jul19.xls
df_uk_holidays = pd.read_excel('./ukbankholidays-jul19.xls')
# rename the first column to 'Date'
df_uk_holidays.rename(columns={df_uk_holidays.columns[0]: 'Date'}, inplace=True)
# ignore rows not in date format
df_uk_holidays = df_uk_holidays[pd.to_datetime(df_uk_holidays['Date'], errors='coerce').notnull()]
df_uk_holidays['Date'] = pd.to_datetime(df_uk_holidays['Date']).dt.date

In [17]:
# keep only holidays in 2023
df_uk_holidays = df_uk_holidays[df_uk_holidays['Date'].astype(str).str.startswith('2023')]

In [18]:
# merge holiday info into df_lfb_merged. A new column 'IsBankHoliday' is added to indicate if the day is a holiday.
df_lfb_merged = pd.merge(df_lfb_merged, df_uk_holidays[['Date']], left_on='DateOfCall', right_on='Date', how='left', indicator=True)
df_lfb_merged['IsBankHoliday'] = df_lfb_merged['_merge'].apply(lambda x: 1 if x == 'both' else 0)
df_lfb_merged.drop(columns=['Date', '_merge'], inplace=True)

In [19]:
df_lfb_merged.IsBankHoliday.value_counts()

IsBankHoliday
0    356
1      8
Name: count, dtype: int64

In [20]:
df_lfb_merged.columns

Index(['DateOfCall', 'IncidentCount', 'DATE', 'TX', 'Q_TX', 'TN', 'Q_TN', 'TG',
       'Q_TG', 'SS', 'Q_SS', 'SD', 'Q_SD', 'RR', 'Q_RR', 'QQ', 'Q_QQ', 'PP',
       'Q_PP', 'HU', 'Q_HU', 'CC', 'Q_CC', 'IsWeekend', 'weekday',
       'IsBankHoliday'],
      dtype='object')

In [21]:
df_lfb_merged.dtypes

DateOfCall        object
IncidentCount      int64
DATE              object
TX               float64
Q_TX               int64
TN               float64
Q_TN               int64
TG               float64
Q_TG               int64
SS               float64
Q_SS               int64
SD               float64
Q_SD               int64
RR               float64
Q_RR               int64
QQ               float64
Q_QQ               int64
PP               float64
Q_PP               int64
HU               float64
Q_HU               int64
CC               float64
Q_CC               int64
IsWeekend          int64
weekday           object
IsBankHoliday      int64
dtype: object

In [28]:
# save a backup of df_lfb_merged as df_lfb_merged_backup
# in df_lfb_merged, remove rows where any Q_* column has value of 9.
# print the number of rows of df_lfb_merged_backup and df_lfb_merged
df_lfb_merged_backup = df_lfb_merged.copy()
q_columns = [col for col in df_lfb_merged.columns if col.startswith('Q_')]
df_lfb_merged = df_lfb_merged[~df_lfb_merged[q_columns].isin([9]).any(axis=1)]
print(f'Number of rows in df_lfb_merged_backup: {df_lfb_merged_backup.shape[0]}')
print(f'Number of rows in df_lfb_merged after removing rows with Q_* = 9: {df_lfb_merged.shape[0]}')

Number of rows in df_lfb_merged_backup: 364
Number of rows in df_lfb_merged after removing rows with Q_* = 9: 364

In [32]:
# using XGBoost to predict IncidentCount using weather, weekday, weekend, and bank holiday info
import xgboost as xgb
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
# prepare data for modeling
feature_cols = ['TX', 'TN', 'TG', 'SS', 'SD','RR','QQ', 'PP','HU','CC', 'IsWeekend', 'IsBankHoliday', 'weekday']
X = df_lfb_merged[feature_cols]
y = df_lfb_merged['IncidentCount']
# one-hot encode the 'weekday' column
X = pd.get_dummies(X, columns=['weekday'], drop_first=True)
# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# train XGBoost model
# model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=100, learning_rate=0.1, max_depth=5, random_state=42)
model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
model.fit(X_train, y_train)
# make predictions
y_pred = model.predict(X_test)
# evaluate model performance
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
print(f'RMSE: {rmse}')

# R2 of model on training and testing sets
r2_train = model.score(X_train, y_train)
r2_test = model.score(X_test, y_test)
print(f'R2 on training set: {r2_train}')
print(f'R2 on testing set: {r2_test}')

RMSE: 37.29923634910724
R2 on training set: 0.9999933838844299
R2 on testing set: 0.09958332777023315

In [ ]:
# use random forest regressor from sklearn to predict IncidentCount. Don't split data again
# first, import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
# train Random Forest model
rf_model = RandomForestRegressor(random_state=10)
rf_model.fit(X_train, y_train)
# make predictions
y_pred_rf = rf_model.predict(X_test)
# evaluate model performance: training and teseting R2
r2_train_rf = rf_model.score(X_train, y_train)
r2_test_rf = rf_model.score(X_test, y_test)
print(f'Random Forest R2 on training set: {r2_train_rf}')
print(f'Random Forest R2 on testing set: {r2_test_rf}')

Random Forest R2 on training set: 0.9136535356526865
Random Forest R2 on testing set: 0.16263798826889153

In [33]:
# feature importance in rf_model
importances = rf_model.feature_importances_
feature_names = X.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)

              Feature  Importance
2                  TG    0.181695
7                  PP    0.157313
0                  TX    0.154714
8                  HU    0.103176
6                  QQ    0.093228
5                  RR    0.084433
1                  TN    0.062492
9                  CC    0.056843
3                  SS    0.055895
14     weekday_Sunday    0.009379
17  weekday_Wednesday    0.007540
10          IsWeekend    0.007209
13   weekday_Saturday    0.006130
15   weekday_Thursday    0.005779
16    weekday_Tuesday    0.005241
11      IsBankHoliday    0.004779
12     weekday_Monday    0.004155
4                  SD    0.000000

In [36]:
df_lfb_merged.columns

Index(['DateOfCall', 'IncidentCount', 'DATE', 'TX', 'Q_TX', 'TN', 'Q_TN', 'TG',
       'Q_TG', 'SS', 'Q_SS', 'SD', 'Q_SD', 'RR', 'Q_RR', 'QQ', 'Q_QQ', 'PP',
       'Q_PP', 'HU', 'Q_HU', 'CC', 'Q_CC', 'IsWeekend', 'weekday',
       'IsBankHoliday'],
      dtype='object')

In [38]:
# save to a csv file LFB_2023_daily_data.csv
df_lfb_merged.to_csv('LFB_2023_daily_data.csv', index=False)

## Notes on location precision

Note that the easting/northing coordinates are not precise for residential buildings, as they point to the centroid of the postcode area for privacy reasons. The column of 'Postcode_district' contains the postcode district (e.g., 'E1 6') for each incident, which can be used for spatial aggregation.

The dataset can be aggregated to the ward level using the 'WardCode' column, which contains the unique identifier for each ward in London. 

As ward is not a census geography, we need to use lookup table to map postcodes (``Postcode_district``) to MSOAs before linking with demographic data.

In [24]:
# read in LSOA to ward lookup table
df_lookup = pd.read_csv('LSOA_(2021)_to_Electoral_Ward_(2025)_to_LAD_(2025)_Best_Fit_Lookup_in_EW_v2.csv')
print(df_lookup.columns.tolist())

['LSOA21CD', 'LSOA21NM', 'LSOA21NMW', 'WD25CD', 'WD25NM', 'WD25NMW', 'LAD25CD', 'LAD25NM', 'LAD25NMW', 'ObjectId']